body {
    margin: 0;
    line-height: inherit;

}

.h-full {
    height: 100%;
}

.overflow-x-hidden {
    overflow-x: hidden;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
#__next {
    min-height: 100%;
}